<div class="dropdown">
    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
        aria-expanded="false">...</a>

    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item deleteChecked" href="#"><i
                class="fas fa-times text-orange-red "></i>Delete</a>
        <a class="dropdown-item addNew" href="#"><i
                class="fas fa-plus text-dark-pastel-green"></i>Add</a>
        
    </div>
</div>
</div>

<form class="mg-b-20">
    <div class="row gutters-8">
        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
            <input type="text" name="<%= typeof filter_name != 'undefined'? filter_name[0]:'' %>" placeholder="Search by <%= typeof filter_data != 'undefined'? filter_data[0]:'' %> ..." class="form-control">
        </div>
        <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
            <input type="text" name="<%= typeof filter_name != 'undefined'? filter_name[1]:'' %>" placeholder="Search by <%= typeof filter_data != 'undefined'? filter_data[1]:'' %> ..." class="form-control">
        </div>
        <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
            <input type="text" name="<%= typeof filter_name != 'undefined'? filter_name[2]:'' %>" placeholder="Search by <%= typeof filter_data != 'undefined'? filter_data[2]:'' %> ..." class="form-control">
        </div>
        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
            <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
        </div>
    </div>
</form>