   <!-- jquery-->
   <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- Select 2 Js -->
 <script src="/js/select2.min.js"></script>
 <!-- Scroll Up Js -->
 <script src="/js/jquery.scrollUp.min.js"></script>
 <!-- Data Table Js -->
 <script src="/js/jquery.dataTables.min.js"></script>     
   <!-- Plugins js -->
   <script src="/js/plugins.js"></script>
   <!-- Popper js -->
   <script src="/js/popper.min.js"></script>
   <!-- Bootstrap js -->
   <script src="/js/bootstrap.min.js"></script>
   <!-- Counterup Js -->
   <script src="/js/jquery.counterup.min.js"></script>
   <!-- Moment Js -->
   <script src="/js/moment.min.js"></script>
   <!-- Waypoints Js -->
   <script src="/js/jquery.waypoints.min.js"></script>
   <!-- Scroll Up Js -->
   <script src="/js/jquery.scrollUp.min.js"></script>
   <!-- Full Calender Js -->
   <script src="/js/fullcalendar.min.js"></script>
   <!-- Chart Js -->
   <script src="/js/Chart.min.js"></script>
   <!-- Custom Js -->
   <script src="/js/main.js"></script>
   <script src="/js/datepicker.min.js"></script>
   <script>
      function add(url){
            $.ajax({
               method:"post",
               url:'/'+url,
               data: $('.new-added-form').serialize(),
               success:function(data){    
                     if(data.success == true){
                     successHtml = '<div class="alert alert-success" ><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success! </strong>'+data.msg+'</div>'
                     $('#json-msg').html(successHtml).fadeOut(11500);
                  }
               }
            });
                } 

function bulkDelete(url){
    checkedData = [];
    i = 0;
    $(".checkOne:checked").each(function(){
      checkedData[i++] = $(this).val();       
    });
      $.ajax({
        type:'POST',
        url:url,
        data:{checkedData},        
        success:function(result){
            html = '<div class="alert alert-success default" ><strong>Success!</strong> '+result.msg+'</div>'
            $('.json-msg').html(html)
          window.setTimeout(function(){location.reload()},3000)
        }
    })

}
function addNew(url){
$('.addNew'). attr("href", url);
}
   </script>
   </body>


<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Jun 2020 08:05:30 GMT -->
</html>