
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="row">
                    <div class="col-9">
                <div class="breadcrumbs-area">
                    <h3><%= title %>s</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <% if(typeof list_heading != "undefined"){ %>
                        <li>
                            <a href="<%= list_url  %>"><%=  list_heading  %></a>
                        </li>
                        <% } %>
                        <li><%= main_heading %></li>
                    </ul>                   
                    </div> 
                    </div>  
                    <div class="col-3 breadcrumbs-area">
                    <button class="btn btn-large btn-primary" onclick='window.location.reload()'><i
                        class="fas fa-redo-alt text-orange-peel"></i></button>
                    </div>
                    </div>
                    
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3><%= sub_heading %></h3>
                            </div>
                       
