         <% include ../partials/header.html %>
         <% include ../partials/nav.html %>
         <% include ../partials/sidebar.html %>
         <% include ../partials/list-breadcum.html %>
         </div>
                        <form class="new-added-form" method="POST">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Book Name *</label>
                                    <input type="text" placeholder="" name="book_name" class="form-control">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Subject *</label>
                                    <select class="select2" name="subject">
                                        <% if (typeof subjects != "undefined" && subjects != null) { %>
                                            <% for(let subject of subjects) { %> 
                                        <option value="<%= subject.id %>"><%= subject.name %></option>
                                        <% }
                                    } %> 
                                    </select>                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Writter Name *</label>
                                    <input type="text" placeholder="" name="writer" class="form-control">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Class *</label>
                                    <select class="select2" name="class">
                                        <% if (typeof classnames != "undefined" && classnames != null) { %>
                                            <% for(let classname of classnames) { %> 
                                        <option value="<%= classname.id %>"><%= classname.name %></option>
                                        <% }
                                    } %> 
                                    </select>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Publishing Year *</label>
                                    <input type="text" placeholder="" name="published" class="form-control air-yearpicker">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Upload Date *</label>
                                    <input type="text" placeholder="" name="creating_date" class="form-control air-datepicker">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="col-md-3 d-none d-xl-block form-group">
                                   
                                </div>
                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Add New Book Area End Here -->
                <% include ../partials/footer.html %>
